2. Node Red Feature Recognition v1.1.txt
[{"id":"b493f877.7fef78","type":"ui_button","z":"bfa6bbf2.a86f58","name":"PiCam Image","group":"29ade18a.30bd6e","order":0,"width":"0","height":"0","label":"Analyze Image from Pi Cam","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":122.19999694824219,"y":70.19999694824219,"wires":[["e326be60.639798"]]},{"id":"edebf40a.3d9ae","type":"debug","z":"bfa6bbf2.a86f58","name":"Display Camera Status","active":false,"console":"false","complete":"payload","x":882.2000122070312,"y":61.94999694824219,"wires":[]},{"id":"cebdb413.cbbeb","type":"template","z":"bfa6bbf2.a86f58","name":"Status of Capture","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Photo Taken","x":669.2000122070312,"y":61.44999694824219,"wires":[["edebf40a.3d9ae"]]},{"id":"12249192.8a9e3e","type":"file in","z":"bfa6bbf2.a86f58","name":"Read Image","filename":"","format":"","x":869.2000122070312,"y":138.9499969482422,"wires":[["8fd1a111.bb6c5","48677b09.5da474"]]},{"id":"3560f2b1.8010d6","type":"visual-recognition-v3","z":"bfa6bbf2.a86f58","name":"Classify an Image","apikey":"cd6197758e77e5953dc95e97586f1272fc4b15f7","image-feature":"classifyImage","lang":"en","x":476.20001220703125,"y":619.9500122070312,"wires":[["7bed0424.e7d49c"]]},{"id":"808d9144.105a2","type":"delay","z":"bfa6bbf2.a86f58","name":"Trigger Analysis","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":477.20001220703125,"y":138.9499969482422,"wires":[["cebdb413.cbbeb","91c5b25.3d3505"]]},{"id":"8fd1a111.bb6c5","type":"base64","z":"bfa6bbf2.a86f58","name":"","x":593.7000122070312,"y":226.6999969482422,"wires":[["8398ba67.261408"]]},{"id":"917546aa.2b1168","type":"ui_button","z":"bfa6bbf2.a86f58","name":"Test A","group":"29ade18a.30bd6e","order":0,"width":0,"height":0,"label":"Test Image A","color":"","bgcolor":"","icon":"","payload":"https://f51044e2-b6f7-4f17-b25e-68e522c136bf-bluemix.cloudant.com/imagestore/TieAnalyzer0006/traje-azul-marino-camisa-de-vestir-blanca-corbata-verde-large-3149.jpg","payloadType":"str","topic":"","x":79.69999694824219,"y":343.2000274658203,"wires":[["48677b09.5da474"]]},{"id":"94ac4e37.adeec","type":"ui_button","z":"bfa6bbf2.a86f58","name":"Test B","group":"29ade18a.30bd6e","order":0,"width":0,"height":0,"label":"Test Image B","color":"","bgcolor":"","icon":"","payload":"https://f51044e2-b6f7-4f17-b25e-68e522c136bf-bluemix.cloudant.com/imagestore/TieAnalyzer0007/images5.jpg","payloadType":"str","topic":"","x":113.69999694824219,"y":419.2000274658203,"wires":[["48677b09.5da474"]]},{"id":"e326be60.639798","type":"camerapi-takephoto","z":"bfa6bbf2.a86f58","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"Take Picture","x":303.5,"y":57.79997253417969,"wires":[["6c720fb1.ffa868","808d9144.105a2"]]},{"id":"6c720fb1.ffa868","type":"debug","z":"bfa6bbf2.a86f58","name":"","active":false,"console":"false","complete":"true","x":443.49998474121094,"y":19.800003051757812,"wires":[]},{"id":"48677b09.5da474","type":"function","z":"bfa6bbf2.a86f58","name":"Configure Feature Recognition","func":"var sFile = msg.payload;\nvar photoTaken = 0;\n\nmsg.params={};\nmsg.params[\"classifier_ids\"]= \"FeatureAnalyzer_50447111\";\nmsg.params[\"threshold\"]= 0.1;\n\n// Check if payload is an url\nif (sFile.includes(\"TieAnalyzer\") == false)\n    photoTaken = 1;\n\n//flow.set(\"isURL\", photoTaken);\nflow.set(\"isURL\", photoTaken);\n\nreturn msg;","outputs":1,"noerr":0,"x":231.20001220703125,"y":620.2000122070312,"wires":[["3560f2b1.8010d6","83959f0b.fcde"]]},{"id":"c5eb2d38.0a60b","type":"template","z":"bfa6bbf2.a86f58","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!--\n<style>\nbody { background-color: black;\n}\nh1 { color: white;\n}\nh2 { color: white;\n}\np { color: white;\n}\n</style>\n-->\n</head>\n<body>\n<table>\n    <tr><td>\n<img src=\"{{{payload.imageurl}}}\" / height=\"300\" width=\"400\" alt=\"Red dot\">\n    </td>\n    <tr><td>\n<table border='1'>\n    <thead><tr><th width='100' bgcolor='yellow'><font color='black'>Outcome</th><th width='100' bgcolor='yellow'><font color='black'>Score</th></tr></thead>\n{{{payload.table}}}\n</table>\n    </td></tr>\n</table>\n</body>","x":709.199951171875,"y":534.2000122070312,"wires":[["3072f2b2.d809be","15622c67.621244","97ba18b0.314f08"]]},{"id":"15622c67.621244","type":"debug","z":"bfa6bbf2.a86f58","name":"","active":true,"console":"false","complete":"true","x":861.4000244140625,"y":483.4000244140625,"wires":[]},{"id":"7bed0424.e7d49c","type":"function","z":"bfa6bbf2.a86f58","name":"Analyze Results","func":"var newPayLoad = null;\nvar count = 0;\nvar numClass = 0;\n\nnewPayLoad = {}\nnewPayLoad[\"class\"] = {}\nnewPayLoad[\"score\"] = {}\n\nif(msg.result.images[0].classifiers.length > 0)\n{\n    numClass = msg.result.images[0].classifiers[0].classes.length;\n\n    for (count=0; count < numClass; count++)\n    {\n            newPayLoad[\"class\"][count] = msg.result.images[0].classifiers[0].classes[count].class;\n            newPayLoad[\"score\"][count] = msg.result.images[0].classifiers[0].classes[count].score;\n    }\n}\nelse\n{   \n    newPayLoad[\"class\"][0] = \"Not classified\";\n    newPayLoad[\"score\"][0] = \"NA\";\n}\n\nvar sDisplay = \"\";\nfor (count = 0; count < numClass; count++)\n{\n    sDisplay += \"<tr><td><font color='black'><b>\" + \n            newPayLoad[\"class\"][count] + \n            \"</b></td><td><font color='black'><i>\" + \n            newPayLoad[\"score\"][count] + \n            \"</i></td></tr>\";\n}\n\nnewPayLoad[\"table\"] = sDisplay;\nnewPayLoad[\"imageurl\"]= msg.result.images[0].resolved_url;\n\nvar photoTaken = flow.get(\"isURL\");\nvar imageBuffer;\nif (photoTaken == 1)\n{\n    imageBuffer = flow.get(\"imageb64\");\n    newPayLoad[\"imageurl\"] = \"data:image/jpeg;base64,\" +\n        imageBuffer;\n\n}\nmsg.payload = newPayLoad;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":682.7000122070312,"y":619.7999877929688,"wires":[["c5eb2d38.0a60b","2c995d25.5d68aa"]]},{"id":"91c5b25.3d3505","type":"function","z":"bfa6bbf2.a86f58","name":"Set Filename","func":"var sFilePath = msg.filepath + msg.filename;\n\nmsg.filename = sFilePath;\n\nreturn msg;","outputs":1,"noerr":0,"x":685.2000122070312,"y":138.1999969482422,"wires":[["12249192.8a9e3e"]]},{"id":"8398ba67.261408","type":"function","z":"bfa6bbf2.a86f58","name":"Set Content-Type header","func":"// Store the base64 encoded image\nflow.set(\"imageb64\", msg.payload);\n\nmsg.payload = {\n  \"_attachments\": {\n    \"FeatureRecognition\" : {\n      \"content_type\":\"image/jpeg\",\n      \"data\": msg.payload\n    }\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":588.2000122070312,"y":363.2000274658203,"wires":[["1cb79874.f6981","34e9c18b.ef98ee"]]},{"id":"1cb79874.f6981","type":"cloudant out","z":"bfa6bbf2.a86f58","name":"Store new image to Cloudant","cloudant":"81997234.c0688","database":"imagestore","service":"_ext_","payonly":true,"operation":"insert","x":836.2000122070312,"y":320.2000274658203,"wires":[]},{"id":"5876a49f.184834","type":"debug","z":"bfa6bbf2.a86f58","name":"Display Cloudant Insert Status","active":true,"console":"false","complete":"payload","x":895.6000366210938,"y":425.20001220703125,"wires":[]},{"id":"34e9c18b.ef98ee","type":"template","z":"bfa6bbf2.a86f58","name":"Status of Storage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Photographs stored","x":653.5999755859375,"y":425.70001220703125,"wires":[["5876a49f.184834"]]},{"id":"3072f2b2.d809be","type":"ui_template","z":"bfa6bbf2.a86f58","group":"3965a309.847974","name":"Display Result","order":0,"width":"12","height":"8","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":false,"x":894.5001220703125,"y":533.4000244140625,"wires":[[]]},{"id":"2c995d25.5d68aa","type":"debug","z":"bfa6bbf2.a86f58","name":"","active":true,"console":"false","complete":"true","x":871.4000244140625,"y":619.2000122070312,"wires":[]},{"id":"83959f0b.fcde","type":"debug","z":"bfa6bbf2.a86f58","name":"","active":false,"console":"false","complete":"true","x":394.49998474121094,"y":567.4000091552734,"wires":[]},{"id":"97ba18b0.314f08","type":"file","z":"bfa6bbf2.a86f58","name":"","filename":"/home/pi/test.html","appendNewline":true,"createDir":false,"overwriteFile":"true","x":910.4999847412109,"y":579.5999908447266,"wires":[]},{"id":"29ade18a.30bd6e","type":"ui_group","z":"","name":"Control","tab":"4751acf6.48c8d4","disp":true,"width":"6"},{"id":"81997234.c0688","type":"cloudant","z":"","host":"f51044e2-b6f7-4f17-b25e-68e522c136bf-bluemix.cloudant.com","name":"Bluemix Cloudant"},{"id":"3965a309.847974","type":"ui_group","z":"","name":"Result","tab":"4751acf6.48c8d4","order":2,"disp":true,"width":"12"},{"id":"4751acf6.48c8d4","type":"ui_tab","z":"","name":"Feature Recognition","icon":"dashboard","order":5}]